* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --navbar-height: 80px;
}
.navbar {
  height: var(--navbar-height);
  backdrop-filter: blur(25px) saturate(200%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9));
  position: relative;
  &-brand-icon {
    color: #f7ff00;
  }

  &-collapse {
    &.show {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      padding: 10px 20px;
      backdrop-filter: blur(25px) saturate(200%);
      background-color: rgba(0, 0, 0, 0.8);
    }
    &.collapsing {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      padding: 10px 20px;
      backdrop-filter: blur(25px) saturate(200%);
      background-color: rgba(0, 0, 0, 0.8);
    }

    .dropdown-menu.show {
      background-color: transparent;
      a {
        color: #ffffff;
        &:hover {
          background-color: #4b4b4b;
        }
      }
    }
  }
}

.discount-counter-wrapper {
  background-image: url("../img/page-header/1.jpg");
  background-size: cover;
  background-position: center;
  .discount-counter {
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.1px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    color: #000000;

    &-content {
      padding: 6px 20px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(13.9px);
      -webkit-backdrop-filter: blur(13.9px);
      text-decoration: none;
      color: #000000;
    }
  }
}

.main-slider-item {
  position: relative;
  &-img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  &::after {
    content: "";
    background-color: rgb(0, 1, 52);
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 23;
    opacity: 40%;
  }
}

.company-feature-section {
  .company-feature {
    margin-top: 1rem;
    &-end {
      overflow: hidden;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      &-img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        transition: all 300ms;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    &-attributes {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .attribute {
        display: flex;
        &-title {
          color: #000000;
        }
        &-img {
          flex-shrink: 0;
          color: #f6ff00;
          background-color: #323232;
          height: 4rem;
          width: 4rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
      }
    }

    &-link {
      background-color: #f6ff00;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 16px 30px;
      font-weight: 500;
      text-decoration: none;
      color: #323232;
      font-weight: 500;
      margin-top: 25px;
      &:hover {
        background-color: rgba(246, 255, 0, 0.687);
      }
    }
  }
}

.country-map {
  &-regions-wrapper {
    overflow: auto;
  }

  &-regions {
    min-height: 400px;
    @media (min-width: 768px) {
      max-width: 100%;
    }

    path {
      fill: #dfdfdf;
      stroke: #00354f;
      stroke-linejoin: round;
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-width: 1;
      &:hover {
        fill: #b11200;
      }
    }
    .current {
      fill: #006394;
      position: relative;
    }
  }
}

.page-header {
  height: 400px;
  width: 100%;
  background-image: url("../img/page-header/1.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;

  &-content {
    z-index: 1;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (min-width: 768px) {
      transform: translate(0, -50%);
      left: 10%;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.about-us {
  &-title {
    text-align: center;
    margin-top: 6rem;
  }
  &-text {
    text-align: justify;
  }
}
